<a href="https://colab.research.google.com/github/sartfe7/Ejercicios_for/blob/main/Copia_de_for_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

En un diagrama de flujo, la instrucción repetitiva for se representa típicamente con un rombo o diamante con la palabra "for" escrita dentro. Junto al rombo, se coloca una línea de entrada con la especificación del rango o la colección sobre la cual se iterará. Luego, dentro del rombo, se colocan las acciones o instrucciones que se repetirán en cada iteración del bucle for

In [ ]:
# Ejercicio 2: Mostrar los numeros del 1 al 10, sin usar instrucciones repetitivas
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
# Ejercicio No.3: UTILIZANDO LA INSTRUCCION WHILE
i=1
while (i<=10):
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# EjercicioNo.4: Mostrar los numeros del  al 10 usando la instruccion for

for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Ejercicio No.5: Mostrar los numeros del 1 al 10, usando la instruccion for y una lista

mi_lista= [1,2,3,4,5,6,7,8,9,10]
for i in mi_lista:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Ejercicio No.6 : Mostrar una frase 10 veces, usando la instruccion for y una lista

mi_lista=[1,2,3,4,5,6,7,8,9,10]
for i in mi_lista:
  print (f"{i} Gunenta 200 años!")

1 Gunenta 200 años!
2 Gunenta 200 años!
3 Gunenta 200 años!
4 Gunenta 200 años!
5 Gunenta 200 años!
6 Gunenta 200 años!
7 Gunenta 200 años!
8 Gunenta 200 años!
9 Gunenta 200 años!
10 Gunenta 200 años!

In [ ]:
# Ejercicio No.7: Mostrar la silaba inicial de los dias de la semana, usando for y una lista

dias_semana=["lu", "ma", "mi", "ju", "vi", "sa", "do"]
for i in dias_semana:
  print(i)

lu
ma
mi
ju
vi
sa
do

In [ ]:
# Ejercicio No.8: Mostrar una lista de distintos tipos de datos,  usando for

mi_listica=[1, 3, 14, 9, True, "Sarith", 8 , "Guanenta"]
for i in mi_listica:
  print(i)

1
3
14
9
True
Sarith
8
Guanenta

In [ ]:
# Ejercicio No.9: Ingresar su nombre y mostrar letra por letra, usando la funcion for

# Digite su nombre por favor

nombre = input(" Digite su nombre:" )

for i in nombre:
  print(i)

 Digite su nombre:sarith
s
a
r
i
t
h

In [ ]:
# Ejercicio No.10: Ingresar su nombrey mostrarlo letra a letra, usando for
# Reemplazando la vocal epor un sterisco

nombre= input("Digite su nombre: ")
for i in nombre:
  if i=='e':
    print("*")
  else:
      print(i)

Digite su nombre: figueredo
f
i
g
u
*
r
*
d
o

In [ ]:
# Ejecicio No 11.: Ingresar su nombre y mostrarlo letra a letra en mayuscula, usando for

nombre= input("Digite su nombre: ")
for i in nombre:
    print(i.upper)

In [ ]:
# Ejercicio No.12: Dada a la siguiente lista de numeros [20,21,30,41,50,51,20] mostrar en la pantalla solos los que terminan en uno(1)

numeros=[20,21,30,41,50,51,20]

for i in numeros:
  if i % 10 != 1: # Verificar si el ultimo digito no es 1
     print (numeros)

In [ ]:
# Ejercicio 13: Mostrar mil veces la palabra "Programación"

for_in range(1000):
   print ("Programacion")

In [ ]:
# Ejercicio 14: Mostrar los nombres completos de los meses

mese= ["Enero","Febrero","Marzo","Abril"]
for mes in mese:
    print(mes)

In [ ]:
# Ejercicio 15: Contar las vocales de un texto

texto= input("Ingrese un texto por favor")

vocales= { 'a':0, 'e':0,'i':0,'o':0,'A';0,'E':0,'I':0,'O':0,'U':0}
for letra in texto:
    if letra in vocales:
       vocales[letra]+=1
for vocal, cantidad in vocales.items():
    print(f"{vocal}:{cantidad}")

In [ ]:
# Ejercicio 16: Contar numeros pares e impares

pares = 0
impares = 0
for _ in range(20):
    numero = int(input("Ingrese un número entero: "))
    if numero % 2 == 0:
        pares += 1
    else:
        impares += 1
print(f"Números pares: {pares}")
print(f"Números impares: {impares}")

In [ ]:
# Ejercicio 17: Contar multiples de 7 y 9 entre 1000 y 5000


multiplos_7 = 0
multiplos_9 = 0
for numero in range(1000, 5001):
    if numero % 7 == 0:
        multiplos_7 += 1
    if numero % 9 == 0:
        multiplos_9 += 1
print(f"Múltiplos de 7: {multiplos_7}")
print(f"Múltiplos de 9: {multiplos_9}")

In [ ]:
# Ejercico 18: Simular el lanzamiento de N dados y contar ocurrencias

import random

N = int(input("Ingrese el número de dados a lanzar: "))
resultados = {}
for _ in range(N):
    dado = random.randint(1, 6)
    if dado in resultados:
        resultados[dado] += 1
    else:
        resultados[dado] = 1

for cara, veces in resultados.items():
    print
(f"Cara {cara}: {'*' * veces}")

In [ ]:
# Ejercicio 19: Calcular el factorial de un numero

numero = int(input("Ingrese un número: "))
factorial = 1
for i in range(1, numero + 1):
    factorial *= i
print(f"El factorial de {numero} es {factorial}")

In [ ]:
# Ejercicio 20: Imprimir la serie numerica

for i in range(1, 11):
    print(i ** 2, end=", ")